---
import Layouts from '../layouts/Layouts.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
---

<Layouts title='Portfolio'>
	<main></main>
		<Navigation />
		<Hero />
	</main>
</Layouts>
