<section>
    
    <div class="about-container" id="about">
        <div class="wrapper">
            <h1 class="about-header">
                About Me
            </h1>
            
            <div class="description">
                <h2>
                    Hey there! I’m Isaac Evans, a web developer from the city of Las Cruces, New Mexico. Graduating from <span style="color: #6207ff;">Eastern New Mexico University with a degree in Computer Science</span>, I found my passion for creating aesthetic looking websites. I worked with Eastern New Mexico University to maintain and update their school website which showed a little at what is was like to be a developer. In my free time I enjoy playing guitar, video games and Jiu-Jitsu.
                </h2>
            </div>
        </div>
    </div>
</section>

<!-------------------------------------->
<!------- Style for About  ------------->
<!-------------------------------------->


<style>

    .wrapper{
        padding: 2rem;
        font-size: 1rem;
    }

    .about-header{
        margin-left: 5rem;
        font-size: 4rem;
        padding-bottom: 2rem;
        font-weight:500;
    }
    h2{
        font-weight: 600;
        font-size: 1.5rem;
        margin-left: 4rem;
        padding-right: 25rem;
        color: rgba(96, 96, 96, 0.907);
    }

    .description{
        padding: 1rem;
    }

    .about-container{
        background-color: rgba(245, 245, 247, 0.907);
    }

    @media (max-width: 1200px){
        .about-header{
            font-size: 3.7rem;
        }
        h2{
            font-size: 1.3rem;
            padding-right:15rem;
        }
    }

    @media (max-width: 1000px){
        h2{
            padding-right:10rem;
        }
    }

    @media (max-width: 660px){
        .about-header{
            font-size: 3.5rem;
        }
        h2{
            font-size: 1.1rem;
            padding-right: 5rem;
        }
    }

    @media (max-width:560px){
        .about-header{
            font-size: 3.3rem;
            text-align: center;
            margin: 0;
        }
        h2{
            font-size: .9rem;
            padding-right: 1rem;
            text-align: center;
            margin: 0;
        }
        


    }



</style>