<div class="footer-container" id="contact">
    <div class="wrapper">
        <h1>Contact Me</h1>
        <div class="footer">
            <div class="group">
                <ul>
                    <li><a href="mailto: evansisaac0425@gmail.com">evansisaac0425@gmail.com</a></li>
                    <li><a href="www.linkedin.com/in/isaac-evans-872759229">Linkedin</a></li>
                </ul>
            </div>
            <div class="group">
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<style>

    h1{
            margin-left: 5rem;
            font-size: 4rem;
            padding-bottom: 2rem;
            font-weight:500;
    }

    .wrapper{
        padding: 2rem;
        font-size: 1rem;
    }

    .footer{
        display: flex;
        gap:5rem;
        justify-content: flex-start;
        margin-left: 5rem;
    }


    .group > ul{
        list-style: none;
        line-height: 2rem;
        font-weight: 500;
    }
    .group > ul > li > a{
        text-decoration: none;
        color: var(--typography);
    }


    @media (max-width: 1210px){


    }

    @media (max-width: 900px){

    }

    @media (max-width: 660px){

    }

    @media (max-width:560px){
        
    }

</style>