<div class="container">
    <div class="wrapper">
        <video autoplay muted loop preload="auto" id="hero-video"> 
            <source src="public/images/heroVideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="hero-caption">
            <h1>Isaac Evans</h1>
            <h2>Aspiring Web Developer</h2>
            <!--<button>Resume</button>-->
        </div>
    </div>
</div>


<script>

    window.addEventListener('scroll', function(){
        const scrollY = window.scrollY;
        const heroVideo = document.querySelector("#hero-video") as HTMLVideoElement;

        /*Subtract the amount of the image based on how much you scrolled*/
        const scaleFactor = 1 - (scrollY / 15000);

        /*Input this into css style */
        heroVideo.style.transform = `scale(${scaleFactor})`;
        
    });

</script>

<style>

    button{

    }

    h1{
        text-align: center;
        padding-bottom: 2rem;
        font-weight: 600;
    }
    h2{
        font-weight: 600;
    }
    .hero-caption{
        font-size: 1rem;
        position: relative;
        z-index: 10;
        margin-top: -20rem; 
    }
    .container{
        width: 100vw;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
        width: 85%;
        height: 90vh;
    }
    #hero-video{
        height: 90%;
        width: 85%;
        position: absolute;
        object-position: center;
        object-fit: cover;
        border-radius: 40px;
        z-index: 5;
        transform: scale(1);
    }

</style>