<header>
    <nav class="topnav">
        <div class="topnav-logo">
            <a href="#">Isaac Evans</a>
        </div>
        <div class="topnav-links">
            <a href="#">Home</a>
            <a href="#">Projects</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </nav>
</header>

<!-------------------------------------->
<!------- Style for Navigation --------->
<!-------------------------------------->

<style>
    nav{
        background-color: #26547C20;
        height: 3rem;
        border-radius: 40px;
    }
    .topnav{
        padding: 1rem;
        display: flex;
        margin: 1.5rem;
        align-items: center;
        justify-content: space-between;
    }

    .topnav-logo a{
        text-decoration: none;
        color: var(--typography);
    }

    .topnav-links a{
        text-decoration: none;
        color: var(--typography);
        padding: .5rem;
    }
</style>
